/*background halaman*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dddcf3;
}

/*header*/
header {
    background-color: #7549b6;
    color: azure;
    }
span {
    font-size: small;
    }

/*welcome section*/
.intro {
    text-align: center;
    border-radius: 25px;
    border: 2px solid #7549b6;
    border-top-width: 0px;
}

/*text h1-h4*/
h1 {
    text-align: center;
}
h2 {
    text-align: center;
    background-color: #9670d1;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    color: azure;
    padding: 5px;

}
h3 {
    text-align: center;
    background-color: #9670d1;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    color: azure;
    padding: 5px;
}
h4 {
    background-color: #9670d1;
    color: azure;
    padding: 5px;
}

/*container*/
.container {
    border-radius: 25px;
    background-color: aliceblue;
}
p {
    padding-left: 10px;
}

.btn-persegi {
    width: 200px;
    padding: 10px 200px;
}
.card {
    text-align: center;
}

footer {
    text-align: center;
    font-size: small;
}